.Person
{
    width: 60%;
    margin: auto;
    border:2px solid rgb(216, 144, 144);
    box-shadow:0 2px 3px #ccc;
    padding: 16px;
    margin-top: 15px;
    text-align: center;
}
@media(min-width:500px){
    .Person{
        width: 450px;
    }
}